<h1>Editing student</h1>

<%= render 'form' %>

<div class="col-md-12" id="student_action">
    <div class="pull-right" style="margin: 10px 0px">
        <%= link_to 'Back', students_path, class: 'btn btn-danger' %>
    </div>
</div>

<style>
    #student_action *
    {
        color: #ffffff;
    }
</style>