<h1>New student</h1>

<%= render 'form' %>

<div class="col-md-12" style="margin: 10px 0px">
    <div class="pull-right">
        <%= link_to 'Back', students_path, class: 'btn btn-danger' %>
    </div>
</div>