<%= form_for(@astek) do |f| %>
  <% if @astek.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@astek.errors.count, "error") %> prohibited this astek from being saved:</h2>

      <ul>
      <% @astek.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
