<div class="raw">
    <div class="col-md-12">
        Best family member
    </div>
</div>

<div class="raw">
    <div class="col-md-6">

    </div>

    <div class="col-md-6">
        
    </div>
</div>

