<h3>Bonus detail for family <%= @family.name %></h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th>
            Login
        </th>
        <th>
            Night Watch
        </th>
        <th>
            Norme Master
        </th>
    </tr>
    </thead>

    <tbody>
    <% @bonus_details.each do |b| %>
        <tr>
            <td>
                <%= b[:login] %>
            </td>
            <td>
                <%= b[:night_watch] %>
            </td>
            <td>
                <%= b[:norme_master] %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>

