<!--<head>
<link rel="stylesheet" type="text/css" href="style.css"/>
<script type="text/javascript" src="../jquery.js"></script>
<script type="text/javascript" src="script.js"></script>
</head>-->

<!--<p id="notice"><%= notice %></p>-->

<div class="fam_family">

  <div class="fam_clearBoth fam_rawTop">

    <div class="fam_resume">
      <div class="fam_teamScore">
        <img src=""/>
        <div class="fam_score">
          <span class="fam_borderRadius"></span>
        </div>
      </div>
      <div class="fam_right">
        <div class="fam_teamRanking fam_borderRadius">
          <div class="fam_frieze"></div>
        </div>
        <div class="fam_scorePercents">
          <div class="fam_graph fam_borderRadius">
            <div class="fam_bg_technical"></div>
            <div class="fam_bg_organization"></div>
            <div class="fam_bg_methodology"></div>
          </div>
          <div class="fam_infos fam_clearBoth">
            <div><span class="fam_puce fam_bg_technical"></span><span class="fam_name">Technical</span><span class="fam_percent"></span></div>
            <div><span class="fam_puce fam_bg_organization"></span><span class="fam_name">Organization</span><span class="fam_percent"></span></div>
            <div><span class="fam_puce fam_bg_methodology"></span><span class="fam_name">Methodology</span><span class="fam_percent"></span></div>
          </div>
        </div>
      </div>
    </div>

    <div class="fam_students">
      <div class="fam_groups fam_borderRadius">
        <div class="fam_group">
          <div class="fam_domaine fam_borderRadius fam_bg_general"></div>
          <div class="fam_ranking" category="general"></div>
        </div>
        <div class="fam_group">
          <div class="fam_domaine fam_borderRadius fam_bg_technical"></div>
          <div class="fam_ranking" category="technical"></div>
        </div>
        <div class="fam_group">
          <div class="fam_domaine fam_borderRadius fam_bg_organization"></div>
          <div class="fam_ranking" category="organization"></div>
        </div>
        <div class="fam_group">
          <div class="fam_domaine fam_borderRadius fam_bg_methodology"></div>
          <div class="fam_ranking" category="methodology"></div>
        </div>
      </div>
    </div>

  </div>

  <div class="fam_clearBoth fam_rawBottom">

    <div class="fam_listNewsContainer fam_borderRadius">
      <div class="fam_listNews fam_bonus">
        <div class="fam_list"></div>
      </div>
      <div class="fam_listNews fam_malus">
        <div class="fam_list"></div>
      </div>
    </div>

    <div class="fam_advicesContainer">
      <table class="fam_advices fam_borderRadius">
        <thead>
        <tr>
          <td></td>
          <td>Today</td>
          <td>All time</td>
        </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

  </div>

</div>

<!--
<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
-->
