<%= form_for(@pedago) do |f| %>
  <% if @pedago.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedago.errors.count, "error") %> prohibited this pedago from being saved:</h2>

      <ul>
      <% @pedago.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
